<webring-banner-dark>
    <p>Member of the <a href="{{ meta.url }}">{{ meta.title }}</a> webring</p>
</webring-banner-dark>
<script async src="{{ meta.url }}/embed-dark.js" charset="utf-8"></script>

