---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
    <h2>What's this?</h2>
    <p>
        A community of sites around a common topic, also known as a <a href="https://en.wikipedia.org/wiki/Webring">webring</a>. 
        Each member includes a badge on their site that links to the previous and next sites in the ring. 
        Kids in the 90s used to love it!
    </p>

    <h2>How to join</h2>
    <p>
        To join Polyring, <a href="{{ meta.repo }}/compare">open a pull request</a> 
        and supply the name and URL of your site. If you publish a RSS feed, you can provide that as well.
    </p>

    <h2>Wait, what?</h2>
    <p>
        If you don't know how to make a pull request, or what GitHub is, that's fine. In that case, send a mail to <a href="mailto:mail@xyquadrat.ch">mail@xyquadrat.ch</a> with your site link and name, and we'll get it set up for you & provide instructions on how to embed the snippet on your site.
    </p>

    <h2>Add the banner</h2>
    <p>
        Once you've joined the ring, copy this code snippet into your site:
    </p>

    {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

    <p>
        It will render this banner that links to the other members:
    </p>

    {% include 'snippet.njk' %}

    <p>
        Of course, you can also make your own banner or just statically link to the next / previous people in the ring. This is just a default option that could work well for most people.
    </p>
</div>