<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="The central hub for the webring for members of ETH Zurich. Learn how to add your site today.">

    <title>{{ title or meta.title }}</title>

    <link rel="stylesheet" href="{{ meta.url + '/assets/styles/main.css' | url }}">
    <link type="application/atom+xml" rel="alternate" href="{{ meta.url }}/feeds.xml" title="{{ meta.title }}">
</head>
<body>
    <div class="layout">
        <main class="layout__primary">
            <div class="layout__content">
                {{ content | safe }}
            </div>
        </main>
        <aside class="layout__secondary">
            {% include 'map.njk' %}
        </aside>
    </div>
</body>
</html>



